@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{ /*modificar tudo que tem no HTML*/
  margin: 0;
    padding: 0;
    box-sizing: border-box;/*Tamanho da caixa, oque o html vao ocupar*/
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    padding-top: 80px;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    display: flex; /* titulo fica a esquerda*/
    align-items: center; /*alinha verticalmente*/
}

header{
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100; /*Vai deixar em ordem*/
}

.titulo h1{
    font-size: 28px;
}

.titulo span{
    color: #3498db;
}

.inicio{
  display: flex;
    gap: 12px;
  margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 120px auto 40px auto;
    width: fit-content;
    margin: 50px auto 50px auto;
}

input{
    flex: -1;
  padding: 10px;
  border-radius: 6px;
    border: 2px solid #333; /* cor da borda do input*/
    box-sizing: border-box;
}

select{
    padding: 10px 14px;
    border-radius: 6px;
    border: 2px solid #333;
    font-size: 16px;
    font-family: Arial;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

button{
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
button.criar{
  background: #2563eb;
  color: #fff;
}

button.inserir{
    background: #5989f0;
    color: #fff;
}

button.mostrar{
    background: rgb(129, 232, 129);
    color: #fff;
}

button.remover{
    background: rgb(226, 86, 86);
    color: #fff;
}

button.reiniciar{
    background: #2563eb;
    color: #fff;
}

button.explicacao{
    background: #2563eb;
    color: #fff;
    padding: 10px 100px;
}

/*Principal Fila Circular*/

.principal{
    margin-top: 40px;
}

.layout{
    display: flex; /*Ficar lado a lado tabela e fila */
    justify-content: center; /*alinha horizontalmente*/
    align-items: center; /*alinha verticalmente*/
    gap: 120px;
    margin-top: 60px;
}

.fila-container { /*quadrado da fila*/
    width: 350px;
    height: 350px;
    position: relative;
    background-color: #e6dbdb;
    border-radius: 10%;
}

.fila-circular { /*circulo da fila*/
    width: 100%;
    height: 100%;
    border: 4px dashed #2563eb;
    border-radius: 50%;
    position: relative;
}

.no { /* cada .no representa um elemento da fila circular*/
    width: 50px;
    height: 50px;
    background: #2563eb;
    color: white;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/*Final Não consegui conserta essa merda*/

.footer-col:first-child img{
    max-width: 110px;
    height: auto;
    object-fit: contain;
}

.footer-col:first-child{
    max-width: 110px;
    height: auto;
    object-fit: contain;
}
footer{
    background-color: #1f2933;
    color: white;
    padding: 40px 0 20px;
    margin-top: 80px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-col{
    flex: 1;
    min-width: 260px;
}
.footer-col h3{
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}

.footer-col a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.footer-col a:hover{
    text-decoration: underline;
    color:#60a5fa;
}

.footer-bottom{
    border-top: 1px solid #374151;
    margin-top: 30px;
    padding-top: 15px;
    text-align: center;
}

.footer-bottom p{
    font-size: 13px;
    line-height: 1.6;
    color: #9ca3af
}